<div class="contenedor">
    <div class="contenedor_tarjeta">
        <a href="#">
            <figure>
                <img src="../../../assets/imgTarjeta3D_1.jpg" alt="imgTarjeta3D_1.jpg" class="frontal">
                <figcaption class="trasera">
                    <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nemo.</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam soluta alias et veritatis sunt, omnis rerum tenetur temporibus minima.</p>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="contenedor_tarjeta">
        <a href="#">
            <figure>
                <img src="../../../assets/imgTarjeta3D_2.jpg" alt="imgTarjeta3D_1.jpg" class="frontal">
                <figcaption class="trasera">
                    <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nemo.</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam soluta alias et veritatis sunt, omnis rerum tenetur temporibus minima.</p>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="contenedor_tarjeta">
        <a href="#">
            <figure>
                <img src="../../../assets/imgTarjeta3D_3.jpg" alt="imgTarjeta3D_1.jpg" class="frontal">
                <figcaption class="trasera">
                    <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nemo.</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam soluta alias et veritatis sunt, omnis rerum tenetur temporibus minima.</p>
                </figcaption>
            </figure>
        </a>
    </div>
</div>